<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Blog</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon style="font-size: 30px;" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <ion-row class="rowStyle">
    <button ion-button icon-only clear>
      <ion-icon name="image-outline" color="danger" style="font-size: 25px;"></ion-icon>
    </button>
    <ion-input type="text" [(ngModel)]="postData" placeholder="Say Something....."></ion-input>
    <button ion-button icon-only clear>
      <ion-icon name="send" (click)="sendPost()" color="danger" style="font-size: 25px;"></ion-icon>
    </button>
  </ion-row>
  <ion-card *ngFor="let f of posts">
    <ion-card-header color="danger">
    {{f.data().owner_name}} Says
    </ion-card-header>
    <ion-card-content text-wrap class="card_body">
    {{f.data().postText}} 
      <ion-row class="bottom_bar" style="display: block;">
        <ion-col size="4">
          <button block ion-button icon-left clear small color="danger">
            <ion-icon  color="danger" style="font-size: 18px;" name="thumbs-up"></ion-icon>
            12 Likes
          </button>
        </ion-col >
        <ion-col size="4">
          <button block ion-button icon-left clear small color="danger">
            <ion-icon  color="danger" style="font-size: 18px;" name="document-text-outline"></ion-icon>
           12 Comment
          </button>
        </ion-col>
        <ion-col size="4">
          <button block ion-button icon-left clear small color="danger">
           {{ago(f.data().created.toDate())}} ago
          </button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>