<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
    <ion-buttons slot="end" (click)="logOut()">
      <ion-button>
        <ion-icon style="font-size: 30px;" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let i of service">
        <ion-card routerLink="/single-service">
          <img src="{{i.data().serviceimage}}" alt="ion">
          <ion-card-header>
            <ion-card-title>{{i.data().name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content text-wrap>
            {{i.data().description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>